<div class='post-container'>
    <div class='post-left-section'>
        <div class='game-frame'> 
            <iframe src="https://lichess.org/embed/<%= games.gameUrl.substring(26,34) %>?theme=blue2&bg=auto" width=600 height=397 frameborder=0></iframe>
        </div>
    </div>
    <div class='post-right-section'>
        <div class='post-title'>
            <h1><%= games.gameTitle %></h1>
        </div>
        <div class='post-text'>
            <p><%= games.gameText %> </p>
        </div>
        <div class='post-metadata'>
            <div class='game-score'>
                <i class="far fa-heart"></i>
                10
            </div>
            <div class='game-comments'>
                <img src='https://static.thenounproject.com/png/739210-200.png' width=30 height=30>
                5
            </div>
        </div>
    </div>
</div>