<div class='game-container'>
    <div class='game-frame'>
        <iframe src='https://lichess.org/embed/TXQqsRWc?theme=blue&bg=auto' width=600 height=397 frameborder=0></iframe>
    </div>
    <div class='game-title'>
        <h1>Mama didn't order that lunch</h1>
    </div>
    <div class='game-text'>

    </div>
    <div class='game-score'>
        <img src='https://www.clipartmax.com/png/middle/424-4246189_empty-heart-png.png' width=50 height=50>
    </div>
    <div class='game-comments'>

    </div>
</div>