<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <title>Chess Lolz</title>
</head>
<body>
    <div id='header-container'>
        <div id='title-container'>
            <div id='main-title'>Chess Lolz</div>
            <div id='subtitle'>Satisfaction not guaranteed</div>
        </div>
        <div id='login-info'>
            <a id='google-login' href='/auth/google'>
                <img src='https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png' alt='Log In with Google'>
            </a>
        </div>
    </div>