<%- include('./partials/header'); %>
    <div id='content-container'>
        <div class='game-container'>
            <div class='voting-container'>

            </div>
            <div class='game-frame'>
                <iframe src="https://lichess.org/embed/TXQqsRWc?theme=blue&bg=auto" width=600 height=397 frameborder=0></iframe>
            </div>
            <h1>Mama didn't order that lunch</h1>
        </div>
        <div class='game-container'>
            <h1>game 2</h1>
        </div>
        <div class='game-container'>
            <h1>game 3</h1>
        </div>
        <div class='game-container'>
            <h1>game 4</h1>
        </div>
    </div>
<%- include('./partials/footer'); %>