@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');

body {
  font-family: 'Saira', sans-serif;
  font-size: 60;
  background-color: #A2DBFA;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #A2DBFA;
}

#header-container {
  background-color: #053742;
  color: #A2DBFA;
  top: 0px;
  padding: 10px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

#main-title {
  font-size: 36px;
  font-weight: bold;
}

#subtitle {
  font-size: 18px;
}

.button {
  background-color: #39A2DB;
  border-radius: 10px;
  color: #E8F0F2;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

#user-dropdown {
  align-items: flex-end;
  display: inline-block;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #39A2DB;
  padding: 10px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #39A2DB;
  color: #053742;
}


#user-dropdown:hover .dropdown-content {
  display: block;
  color: #053742;
}

#user-dropdown:hover .dropbtn {background-color: #053742}

#placeholder-text {
  text-align: center;
}

.post-container {
  display: flex;
  flex-direction: row;
  margin: 5%;
  background-color: #E8F0F2;
  border-radius: 2%;
  padding: 10px;
}

.post-right-section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#expand-link {
  color: #053742;
  font-weight: bold;
}

.post-controls {
  display: flex;
  flex-direction: row;
}

.delete-link-btn {
  color: #053742;
  font-weight: bold;
  border-style: solid;
  height: 20px;
}

.edit-comment-btn {
  color: #053742;
  font-weight: bold;
}


label {
  font-weight: bold;
  color: #053742;
  display: inline-block;
  width: 100px;
  margin-right: 20px;
  text-align: right;
}

input {
  width: 500px;
}

textarea {
  display: inline-block;
  height: 300px;
  width: 502px;
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.delete-btn {
  margin: 0px;
}

#comments-container {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.comment {
  background: #E8F0F2;
  border-style: solid;
  border-color: black;
  border-width: thin;
  border-radius: 5px;
  width: 60%;
  padding: 0.5%;
  margin: 5px;
}

#footer {
  background-color: #053742;
  color: #A2DBFA;
  text-decoration: none;
  position: fixed;
  padding: 10px;
  margin: 0px;
  bottom: 0px;
  width: 100%;
}